body,p,ul,figure{
    margin: 0px;
    padding: 0px;
    /*避免出现水平滚动条*/
    /*overflow-x: hidden;*/
}
body{
    overflow-x: hidden
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-size:16px;
    color:black;
}
/*  *{
        选择到所有的标签
        line-height: 0px;
    }
*/
header{
    /*定宽居中*/
    width: 1000px;
    margin: 0px auto;
}
header div #tel{
    float: right;
    margin: 19.5px 0px;
}
/*导航条浮动*/
nav{
    line-height: 50px;
    background-color: red;
}
nav ul{
    /*定宽居中*/
    width: 1000px;
    margin: 0px auto;
}
/*清除浮动*/
nav ul::after{
    display: block;
    content: " ";
    visibility: hidden;
    height: 0px;
    clear: both;
}
nav ul li{
    float: left;
    width:80px;
    text-align: center;
}
nav ul li:nth-child(6){
    margin-right: 20px;
    width: 100px;
}
/*鼠标悬停在a上时 改变样式*/
nav ul li a:hover{
    background-color: white;
    color: red;
    padding:5px 10px 20px 5px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*广告图*/
.banner img{
    width: 100%;
}



/*主要内容*/
main{
    background-color: #F6F6F6;
}
main .contn{
    width: 1000px;
    margin: 5px auto 0px;
    background-color: #F6F6F6;
}
/*main-top区域*/
.contn .top .left{
    width: 210px;
    float: left;
}
.left .pro ul li{
    font-size: 15px;
    /*文本右对其*/
    text-align: right;
    /*调整行高*/
    line-height: 25px;
}
.left .pro ul li a{
    font-size: 15px;
    color: black;
}

/*联系我们*/
.xt{
    background-image: url(../images/1.jpg);
    background-size: 100% 100%;
    line-height: 30px;
    font-size: 20px;
    padding-left: 30px;
    margin-top: 10px;
}
.left .contact img{
    margin: 10px 0px 15px;
}
.left .contact  address{
    font-style: normal;
    font-size: 15px;
    line-height: 40px;
}

/*right区域*/
.contn .top .right{
    width: 780px;
    float: right;
}
.more{
    float: right;
    padding: 5px 15px 0px;
    font-size: 12px;
    color: gray;
}
.right .pic figure{
    float: left;
    margin: 10px 13px;

    padding: 6px;
    background-color: white;
}
.pic figcaption{
    color: black;
    text-align: center;
    line-height: 30px;
}
.right .pic{
    margin: 0px 10px;
}


/*main-bottom区域*/
    /*.contn .botom .right{
        width: 780px;
        float: right;
    }*/
.bottom .leco{
    width: 640px;
    float: left
}

/*公司简介*/
.bottom .leco{
    width: 640px;
    float: left;
}
.bottom .leco img{
    float: left;
    margin: 10px;
}
.bottom .leco p{
    font-size: 14px;
    line-height: 20px;
    text-indent: 2em;
    /*shape-outside: content-box;*/
}


/*xinwen*/
.bottom .rine{
    width: 350px;
    float: right;
}
.rine ul{
    margin-top: 15px;
}
.rine ul li{
    line-height: 25px;
    font-size: 14px;
    /*清除浮动*/
    overflow: hidden;
    padding-left: 10px;
}
.rine ul li a{
    float: left;
}
.rine ul li span{
    float: right;
}

/*清除浮动*/
.clear{
    clear: both;
}


/*友情链接*/
.fir{
    width: 1000px;
    margin: 0px auto;
    line-height: 50px;
    font-size: 14px;
}
.fir a{
    margin-right: 30px; 
}
.fir a:nth-child(1){
    font-size: 18px;
}
.fir a[href='#']:hover{
    text-decoration: underline;
}
/*也为*/
footer{
    background-color: red;
}
.foot{
    width: 600px;
    margin: 0px auto;
}
.foot p{
    font-size: 15px;
    line-height: 30px;
    color: white;
    text-align: center;
}



/*
     总结：
     1·页面结构划分
     2·主要运用浮动，清除浮动
     3·行高的使用：line-height，可以使一行文字上下居中，在竖直方向居中，尽量不去直接设置盒子的高度
*/

